<!DOCTYPE html>
<html>
  <body>
    <div class="jumbotron">
      <h1>Welcome to myapp!</h1>
      <p>Authenticate via one of the social networks to get started.</p>
    </div>

    <div id="container">
      <div id="user_nav">
        <%= link_to "Sign in with Twitter", "/auth/twitter/" %>
      </div>
